.resumo-tabela {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    margin-bottom: 10px;
    
  }
  
  .resumo-tabela th,
  .resumo-tabela td {
    border: 1px solid gold;
    padding: 8px;
    text-align: center;
    color: white;
  }